/* TabButton.css */
.list {
  display: inline-block;
}

.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  margin-left: -10px;
  font-size: 16px;
  color: #3d3d3d;
  position: relative;
}

/* Style for the grey box on the left */
.menu-container {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 250px; /* Adjust as needed */
  background-color: rgba(255, 255, 255, 0.5); /* Light grey */
}

.list:hover {
  transform: scale(1.1);
}

.list:focus {
  transform: scale(1.1);
}
